{% extends "layout.html" %}
{% block content %}

<div align="center">
    <br /> <br />

    <form class="loginForm" method='POST' action="">
        <p>
            <label for="username">Username:</label>
            <input type="TEXT" id="username" name="username"/>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </p>
        <p>
            <label for="register"></label>
            <a href="/Register" id="register" name="register">Register</a>
        </p>
        <p>
            <label for="signin"></label>        
            <input type="submit" value="Sign in" id="signin">
        </p>
    </form>

</div>

{% endblock %}