<html>
    <head>
        <script type = "text/javascript" 
            src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
        <script type="text/javascript">
            function extraOption(val){
                var element = document.getElementById("activityOther");
                if (val=="other")
                    element.style.display='block';
                else
                    element.style.display='none';
            }
        </script>
    </head>

    <body>
        <div align="center">
        <form>
            <br>Activity<select name="activity" onchange="extraOption(this.value);">
                    <option value="problemDefinition">Problem Definition</option>
                    <option value="generationOfIdeas">Generation of Ideas</option>                
                    <option value="modeling">Modeling</option>
                    <option value="feasabilityOfAnalysis">Feasability of Analysis</option>
                    <option value="evaluation">Evaluation</option>
                    <option value="decision">Decision</option>
                    <option value="communication">Communication</option>
                    <option value="implementation">Implementation</option>
                    <option value="other">Other</option>
                </select>
                <input type="TEXT" name="activityOther" id="activityOther" style='display:none;' /></br>
            <br>Task:<input type="TEXT" name="task" id="task"/></br>
            <br>Hours:<input type="number" name="hours" id="hours" /></br>
            <br>Details:</br>
            <br><textarea rows="4" cols="50"></textarea></br>
            <br><input type="submit" value="Submit"/></br>
            </form> </div>
            <input type = "button" onclick = "sayHello()" value = "Say Hello" />
    </body>
</html>
