{% extends "layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>



<div align="center">
    <form method="POST" action="">
        <!--br>Group:<select id="group" onchange="updateGroup(this.id);"-->
            <br>Group:<select id="group" name="selectedGroup" onchange="this.form.submit();">
                {% for group in groups %}
                {% if group == selectedGroup%}
                <option selected="{{group}}" >{{group}}</option>
                {% else %}
                <option value="{{group}}" >{{group}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <select name="reportType" onchange="this.form.submit();">
                {% if reportType == "week" %}
                <option  selected="week" >Week</option> 
                {%else%}
                <option  value="week">Week</option> 
                {%endif%}
                {% if reportType == "activity" %}
                <option  selected="activity">Activity</option> 
                {%else%}
                <option  value="activity">Activity</option>
                {%endif%}
                {% if reportType == "username" %}
                <option  selected="username">User</option> 
                {%else%}
                <option  value="username">User</option> 
                {%endif%}
            </select>
        </br>
    </form>
</div>


<div align="center" id="listOfActivitiesDiv">
    <br><h2>List of activities</h2></br>
    <p>{{activities}} *</p>
    {% if reportType == "week" %}
    <table style="width:100%">
        <tr>
            <th>Date</th>
            <th>Author</th>
            <th>Activity</th>
            <th>Task</th>
            <th>Hours</th>
            <th>Details</th>
        </tr>

    {% for activity in activities %}
        <tr>
            <td>{{ activity['date'] }}</td>
            <td>{{ activity['author'] }}</td>
            <td>{{ activity['activity'] }}</td>
            <td>{{ activity['task'] }}</td>
            <td>{{ activity['hours'] }}</td>
            <td>{{ activity['details'] }}</td>
        </tr>
    <!--{{ activity['date'] }} - {{ activity['group'] }} -->
    <!--p>Activity: {{ activity['activity'] }}</p>
    <p>Task: {{ activity['task'] }} </p>
    <p>Hours: {{ activity['hours'] }} </p>
    <p>Details: {{ activity['details'] }}</p>
    <br></br-->
    <!--p>{{ activity['author']}} &nbsp; activity['activity'] &nbsp; activity['task'] &nbsp; activity['hours'] &nbsp; activity['details'] &nbsp; activity['date']   </p-->
    {% endfor %}
    </table>
    {% endif %}
    <p>End of activity</p>
</div>

{% endblock %}
